body {
    font-family: Arial, Helvetica, sans-serif;
}

#input-data {
    display: block;
    padding: 5px;
}

#searchData {
    padding: 5px;
    width: 20%;
}

#btn {
    padding: 5px;
    background-color: #4267B2;
    border-width: thin;
    color: white;
}

#block {
    display: flex;
    border-style: none;
    border-width: thin;
    text-align: center;
    justify-content: center;
}

.boxes {
    border-style: none;
    width: 15%;
}

#konfirmasi {
    background-color: #C93229;
    color: white;
}

#sembuh {
    background-color: #6BA244;
    color: white;
}

#meninggal {
    background-color: #0F0D0D;
    color: white;
}

#not-found {
    width: 20%;
}

#notFound {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#notFound p {
    font-size: larger;
}

